<h1>Doctors</h1>
<ul>
  <% @doctors.each do |doctor| %>
    <li><%= link_to "Name: #{doctor.name}", doctor_path(doctor)%><br>
      <%= " Number of Appointments: #{doctor.patients.count}"%></li><br>
  <% end %>
</ul>
